*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right, #0388A6,#82D9D0);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #011a3ad7;
}

h1{
    color:#F2505D ;
    text-align: center;
    text-shadow:1px 1px 2px #011a3ad7 ;
}

h2{
    color: #F29494;
}
p{
    text-align: justify;
}

a::before{
    content: '[AAA]';
}

a::after{
    content: '[SHEKEIRA]';
}